button.undo-swipe {
  padding: 5px 15px;
  border-radius: 5px;
  margin: 40px;
  top: 20px;
  right: 20px;
}
.typetwo-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flash-done {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin: 0 auto;
  margin-top: 20px;
  width: 400px;
  height: 800px;
  position: relative;
  overflow: visible;
  background: linear-gradient(to bottom right, #8515a8, #5e00ff);
  border-radius: 15px;
  opacity: 0;
  transition: 0.3s ease-in;
}

.flash-done.show {
  visibility: visible;
  opacity: 1;
}

.flash-cards {
  margin: 0 auto;
  margin-top: 20px;
  width: 400px;
  height: 800px;
  position: relative;
  overflow: visible;
  background: none;
}

.flash-card {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.2);
  perspective: 1000px;
  background: transparent;
  border-radius: 15px;
}

.flash-card-status {
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  opacity: 0;
  z-index: 99;
}

.flash-card-status.right {
  background: green;
}

.flash-card-status.left {
  background: orange;
}

.flash-card--inner {
  background: none;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flash-card--front,
.flash-card--back {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flash-card--front {
  background: #333;
}

.flash-card--back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}
.flash-card--back h1 {
  max-width: 300px;
  font-size: 32px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}
.flash-card--front h1 {
  max-width: 300px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.flash-card.active {
  transform: rotate(0);
  background: #fff;
}

.flash-card--inner.flip {
  transform: rotateY(-180deg);
}

@media (max-width: 820px) {
  .flash-cards {
    width: 300px;
    height: 500px;
  }
  .flash-card--back h1 {
    max-width: 270px;
  }
}
@media (max-width: 500px) {
  .flash-cards {
    width: 270px;
    height: 440px;
  }
  .flash-card--back h1 {
    max-width: 250px;
  }
}

@media (max-width: 345px) {
  .flash-cards {
    width: 240px;
    height: 380px;
  }
  .flash-card--front h1 {
    max-width: 200px;
  }
  .flash-card--back h1 {
    max-width: 200px;
  }
  h1 {
    font-size: 2.2em;
  }
}
